/HelDesk_web/nbproject/private/
/HelpDesk_Controller/nbproject/private/
/HelpDesk_Model/nbproject/private/
/HelDesk_web/dist/
/HelDesk_web/build/
/HelpDesk_Controller/build/
/HelpDesk_Controller/dist/
/HelpDesk_Model/dist/
/HelpDesk_Model/build/